/*/chat*/

/*-*{margin:0;padding:0;box-sizing:border-box;height: 100%;})(Parte retirada por lucas | desconfigura o menu principal)*/

/*body{
    background:black;
    width:100%;
    margin-left:auto;
    margin-right:auto;

}(Parte retirada por Lucas)*/
/*algum erro bloquear esta parte*/
#principal{
    float:left;
    width: 66%;
    background-color: white;
    margin:10px;
    height: 97%;

}
#mensageiro{
    /*   float:right;*/
    /*     width:240px; 
    margin:11px;
    modificado por Lucas -> contrapositor*/
    background-color: #ccc;
    max-height: available;
    overflow: auto;
    padding-bottom:1px;
    padding-left:2px;
    padding-right:2px;
    padding-top:2px;

}

#text{
    height: 1px;
}

.search{
    float:left;
    position: relative;
    height: 5%;
    top:73%;
    width: 100%;
}

ul{
    list-style-type: none; 
    height: 11%;
}

#users_online {

    float: right;
    top:0;
    right:0;
    width:100%;
    height:100%;
    border-left: 1px solid #999;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;

}


#users_online ul li{
    float:left;
    width:100%;
    border:1px solid #ccc;
    padding:5px;
    margin-left: -1px;
    margin-top: -1px;
    border-right:0;
    position:relative;


}
#users_online ul li:hover{
    border-color:#999;
    background:linear-gradient(to right, #ccc, #fff 60%);
}

#users_online ul li a{
    text-decoration:none;
    float:left;
    width:70%;
    margin-left: 10px;
    font:16px tahoma,arial, helvetica;
    color:#666;


    line-height: 40px;
}

.imgSmall{
    float:left;
    width:35px;
    height:35px;
    overflow:hidden;
    border-radius:50%;
}

/*.imgSmall img{
    width:100%;
    height:100%;
}*/

.status{
    position: absolute;
    right:8px;
    top: 35%;
    margin-top: -6px;
    width:12px;
    height:12px;
    border-radius:50%;
    background:#666;
}

.status.off{
    background:red;
}

.status.on{
    background:#090;
}

/** asside dos chats position: absolute**/
#chats{
    position: absolute;
    bottom:0;
    left:0;
    width:82.6%;
    /**height:50px;
    background: #069;**/
}

/**janelas **/
.window{
    float: left;

    width: 270px;
    margin-left: 5px;
    height: auto;
    overflow: hidden;
    border-radius: 4px;
}
/**caixinha com o nome escrito  red;**/
.window .header_window{
    float: left;
    background:#00ACE6; 
    padding: 5px;
    width: 270px;
    position: relative;
}
/*muda o x da caixa de mensagem*/
.window .header_window .close{
    text-decoration: none;
    float: left;
    color:white;
    font:16px tahoma, arial;
    padding: 0 10px 0 0;
}
/*muda o nome da caixa de mensagem*/
.window .header_window .name{
    float: left;
    color:white;
    font:16px tahoma, arial;
}
/*muda o corpo caixa de mensagem*/
.window .body{
    float:left;
    width:100%;

}

.window .body .mensagens{
    float:left;
    width:100%;
    background: #ebebeb;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    height: 230px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 3px;
}

.mensagens ul{
    float: left;
    width: 100%;
}

.mensagens ul li{
    float: right;
    width: 80%;
    background:linear-gradient(to bottom, #fff, #ccc 130%);
    border: 1px solid #999;
    border-radius: 4px;
    position:relative;
    padding: 4px;
    margin-bottom: 7px;
}
.mensagens ul li .imgSmall{
    position: absolute;
    width: 35px;
    height: 35px;
    left: -45px;
}

.mensagens ul li p{
    font:13px tahoma, arial;
    color: #666;

}
.mensagens ul li.eu{
    float: left;
    background: #a4e9ff;
}


.mensagens::-webkit-scrollbar{
    width: 3px;
}
.mensagens::-webkit-scrollbar-track{
    background-color: #666;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
}
.mensagens::-webkit-scrollbar-thumb{
    background-color: #666;
}
.mensagens::-webkit-scrollbar-thumb:hover{
    background-color:#069
}



.window .body .send_message{
    float: left;
    width: 100%;
    position: relative;
}

.window .body .send_message input{
    float: left;
    width: 100%;
    padding: 3px;
    background: white;
    border: 1px solid #999;
    outline: none;
}