/* reset http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*reset*/
* {
    outline: none;
    box-sizing: border-box;
}

body{
    /*FONTE*/
}

.navbar-inverse{
    margin-bottom: 0;
}

.nav-tabs{
    text-align: center;

}
#submenu > .nav-tabs {
    border-bottom: window none;
}
.nav-tabs > .active{
    box-shadow:  0px 5px 0px 0px rgba(232,199,12,1);
}

#submenu .nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background: none;
}

#submenu{
    background-color: white; 
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
    border: 1px solid white;
    background-color: white;
}

.nav-tabs > li > a:hover {
    border-color: transparent;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #555555;
    background-color: white;
    border: 1px solid white;
    border-bottom-color: transparent;
    cursor: default;
}

.list-group-item{
    text-align: center;
}

.bs-callout
{
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee0;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout-info {
    border-left-color: #ffffff;
}
