.navbar-inverse{
    margin-bottom: 0;
}

.nav-tabs{
    text-align: center;

}

.nav-tabs > .active{
    box-shadow:  0px 5px 0px 0px rgba(232,199,12,1);
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: white;
}

#submenu{
    background-color: white; 
    padding-bottom: 5px;
    margin-bottom: 10px;
}