.navbar-inverse{
    margin-bottom: 0;
}

.nav-tabs{
    text-align: center;

}
#submenu > .nav-tabs {
    border-bottom: window none;
}
.nav-tabs > .active{
    box-shadow:  0px 5px 0px 0px rgba(232,199,12,1);
}

#submenu > nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: white;
}

#submenu{
    background-color: white; 
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
    border: 1px solid white;
    background-color: white;
}

.nav-tabs > li > a:hover {
    border-color: transparent;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #555555;
    background-color: white;
    border: 1px solid white;
    border-bottom-color: transparent;
    cursor: default;
}

.list-group-item{
    text-align: center;
}