body{
    /*FONTE*/

    height: initial;
}
#alert{
    margin-top: 50px;
}
.navbar-inverse{
    margin-bottom: 0;
}

.nav-tabs{
    text-align: center;

}
#submenu > .nav-tabs {
    border-bottom: window none;
}
.nav-tabs > .active{
    box-shadow:  0px 5px 0px 0px rgba(232,199,12,1);
}

#submenu .nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background: none;
}

#submenu{
    background-color: white;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
    border: 1px solid white;
    background-color: white;
}

.nav-tabs > li > a:hover {
    border-color: transparent;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #555555;
    background-color: white;
    border: 1px solid white;
    border-bottom-color: transparent;
    cursor: default;
}

#main{
    margin-top: 50px;
}


.list-group-item{
    text-align: center;
}
button.list-group-item{
    text-align: center;
}
.bs-callout
{
    padding: 20px;
    margin: 20px 0;
    border-left: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout-info {
    border-left-color: #ffffff;
}

.no-padding{
    padding: 0;
}

.no-margin{
    margin: 0;
}

.vertical-bottom{
    vertical-align: bottom;
}

/* Upstream, based on origin/master*/
#input-name
{
    margin-bottom: 15px;
    margin-top: 15px;
}

.textarea-desc
{
    margin-bottom: 15px;
}

/*=======*/
.status{
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    width: 12px;
    border: 1px solid transparent;
    background-color: #FFFF00;
}

.off{
    background-color:red;
}

.on{
    background-color:#090;
    /*>>>>>>> 5e8c4cf vejam se esta aparecendo a janela do chat e se esta no lugar certo pfv*/
}
